
  .center {
  display: block;

  margin-right: auto;
  width: 50%;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
